
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

.header-section{
width: 100%;
height: 100%;
background-color: rgb(36, 139, 187);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}

h1{
    font-size: 60px;
    margin: 0;
}

.header-texts{
width: 500px;
display: flex;
flex-direction: column;
align-items: center;
}

.header-texts h2{
    font-weight: lighter;
    color: rgb(216, 213, 213);
    font-size: 28px;
    text-align: center;
}

.header-texts b{
color: white;
}

.header-buttons button{
    margin: 5px;
    padding: 10px 25px 10px 15px;
    font-size: 20px;
    border-radius: 5%;
    font-weight: 200;
}

.header-buttons span{
margin: 10px;
}

.header-button-one{
background-color: white;
border-radius: 5%;
color: rgb(36, 139, 187);
}

.header-button-two{
    background-color: rgb(36, 139, 187);
    color: white;
}

.section-one{
width: 100%;
height: 350px;
background-color: azure;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border-bottom: 2px solid rgb(238, 231, 231);
}

.section-one h2{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 550px;
    text-align: center;
    line-height: 5vmin;
    font-size: 28px;
    font-weight: 100;
    color: rgb(125, 128, 128);
}

.section-one span{
    font-size: 45px;
    margin: 25px;
    color: rgb(208, 212, 212);
}

.section-two{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(238, 231, 231);
}

.section-two h2{
    color: rgb(125, 128, 128);
}

.section-two p{
    color: rgb(149, 155, 155);
}

.section-three{
    width: 100%;
    height: 400px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(238, 231, 231);
}

.section-three h2{
    color: rgb(125, 128, 128);
    text-align: end;
}

.section-three p{
    color: rgb(149, 155, 155);
    text-align: end;

}

.section-texts{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: 50px;
}

img{
    border-radius: 55%;
}

footer{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer, h2{
    color: rgb(125, 128, 128);
    margin-top: 100px;
}

.footer-text-section{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer, button{
    margin: 5px;
    padding: 10px 25px 10px 15px;
    font-size: 20px;
    border-radius: 5%;
    font-weight: 200;
    margin-bottom: 100px;
}

footer, button, span{
    margin: 10px;
}

.footer-button-one{
    background-color: rgb(36, 139, 187);
    color: white;
}

.footer-button-two{
    background-color: white;
    color: rgb(125, 128, 128);
}

.footer-social{
    border-top: 2px solid rgb(238, 231, 231);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social span{
    font-size: 30px;
    margin: 20px;
    color: rgb(185, 189, 189);
}

.copyright-text{
    font-size: 15px;
}